swagger: '2.0'
info:
  title: StuRents API
  description: |
    Allow property manager websites and management tools to
    send and receive data from the StuRents database
  version: 2.0.0
host: sturents.com
schemes:
  - https
basePath: /api
produces:
  - application/json
securityDefinitions:
  PropertyManager:
    type: apiKey
    in: query
    name: landlord
    description: Property manager ID
  Channel:
    type: apiKey
    in: query
    name: channel
    description: Channel ID (must also provide property manager ID)
  Public:
    type: apiKey
    in: query
    name: public
    description: Provided public key string for landlord or channel
  Timestamp:
    type: apiKey
    in: query
    name: timestamp
    description: unix eopch timestamp
  Auth:
    type: apiKey
    in: query
    name: auth
    description: HMAC of JSON body concat with timestamp, encoded with API key
paths:
  /properties:
    get:
      summary: Returns properties for the authenticated property manager
      security:
        - PropertyManager: []
          Public: []
        - Channel: []
          PropertyManager: []
          Public: []
      tags:
        - Displaying data on external website
      responses:
        '200':
          description: |
            A list of property objects
          schema:
            $ref: '#/definitions/List'
        '400':
          $ref: '#/definitions/GetError'
        '401':
          $ref: '#/definitions/GetError'
        '404':
          $ref: '#/definitions/GetError'
        default:
          $ref: '#/definitions/Error'
  /property:
    put:
      summary: Create a new property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      parameters:
        - in: body
          name: Property
          schema:
            $ref: '#/definitions/PropertyCreation'
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: |
            Information about the created property
          schema:
            $ref: '#/definitions/PropertySaved'
        '400':
          $ref: '#/definitions/SendDataError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /property/{property_id}:
    patch:
      summary: Update an existing property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      parameters:
        - in: path
          name: property_id
          type: string
          required: true
          description: |
            The property ID provided by the initial creation
            or a GET /properties request
        - in: body
          name: Property
          schema:
            $ref: '#/definitions/Property'
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: |
            Information about the updated property
          schema:
            $ref: '#/definitions/PropertySaved'
        '400':
          $ref: '#/definitions/SendDataError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /contract-templates:
    get:
      summary: Returns contract templates for the authenticated property manager
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: List of contract templates
          schema:
            type: array
            items:
              $ref: '#/definitions/ContractTemplate'
        '400':
          $ref: '#/definitions/GetError'
        '401':
          $ref: '#/definitions/GetError'
        '404':
          $ref: '#/definitions/GetError'
        default:
          $ref: '#/definitions/Error'
  /payment-structures:
    get:
      summary: Returns payment schedules for the authenticated property manager
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: List of payment schedules
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentSchedule'
        '400':
          $ref: '#/definitions/GetError'
        '401':
          $ref: '#/definitions/GetError'
        '404':
          $ref: '#/definitions/GetError'
        default:
          $ref: '#/definitions/Error'
  /rooms/{property_id}:
    get:
      summary: Returns room IDs for the specified property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: List of property rooms
          schema:
            type: array
            items:
              $ref: '#/definitions/Room'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /room/{property_id}:
    put:
      summary: Add a room to a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: Indicates the saved room ID
          schema:
            $ref: '#/definitions/RoomSaved'
        '400':
          $ref: '#/definitions/SendDataError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /room/{property_id}/{room_id}:
    patch:
      summary: Update a room on a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: Indicates the saved room ID
          schema:
            $ref: '#/definitions/Room'
        '400':
          $ref: '#/definitions/SendDataError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
    delete:
      summary: Remove a room from a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '204':
          description: Indicates room was deleted
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /contracts/{property_id}:
    get:
      summary: Returns contracts for the specified property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: List of property contracts
          schema:
            type: array
            items:
              $ref: '#/definitions/Contract'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /contract/{property_id}:
    put:
      summary: Add a contract to a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: Indicates the saved contract ID
          schema:
            $ref: '#/definitions/ContractSaved'
        '400':
          $ref: '#/definitions/GetError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
  /contract/{property_id}/{contract_id}:
    patch:
      summary: Update a contract on a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '200':
          description: Indicates the saved contract ID
          schema:
            $ref: '#/definitions/ContractSaved'
        '400':
          $ref: '#/definitions/GetError'
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
    delete:
      summary: Remove a contract from a property
      security:
        - PropertyManager: []
          Timestamp: []
          Auth: []
      tags:
        - Changing data on StuRents
      responses:
        '204':
          description: Indicates contract was deleted
        '401':
          $ref: '#/definitions/SendAuthError'
        '404':
          $ref: '#/definitions/SendAuthError'
        default:
          $ref: '#/definitions/Error'
definitions:
  GetError:
    description: |
      400 - you didn't supply correct query string fields for your chosen
            use case (see auth features of each endpoint)
      401 - the key supplied did not match the property manager or channel
            specified, or the channel does not have access to the property manager
      404 - the property manager or channel does not exist, or the
            property manager does not have any properties
    type: object
    properties:
      landlord:
        type: string
        description: Informs that the provided "landlord" query string was incorrect
      public:
        type: string
        description: Indicates an issue with the provided "public" key
  SendAuthError:
    description: |
      401 - the key supplied did not match the property manager or channel
            specified, or the channel does not have access to the property manager
      404 - the property manager does not exist, or the
            specific resource requested does not exist
    type: object
    properties:
      landlord:
        type: string
        description: Indicates an issue with the provided "landlord" parameter
      auth:
        type: string
        description: Indicates an issue with the provided "auth" token
  SendDataError:
    description: |
      There were problems with the input data in the request body.
      These will be described in the "messages" field of the response
    type: object
    properties:
      messages:
        type: array
        description: Keyed by field name (collapsed using . characters)
        items:
          type: string
  List:
    type: object
    properties:
      version:
        type: string
        description: The API version being returned
      pagination:
        $ref: '#/definitions/Pagination'
      properties:
        type: array
        items:
          $ref: '#/definitions/PropertyOutbound'
  Pagination:
    type: object
    properties:
      pages:
        type: integer
        description: the number of pages total
      current:
        type: integer
        description: for data integrity, the page that these results relate to
      next:
        type: integer
        description: if present this shows there is another page available after this one
      prev:
        type: integer
        description: if present this shows there is another page available prior to this one
  PropertyOutbound:
    allOf:
      - $ref: '#/definitions/Property'
      - type: object
        properties:
          property_id:
            type: string
            description: |
              a unique reference to the property which will not change
          rooms_count:
            type: integer
            description: |
             the number of bedrooms
          book_now_url:
            type: string
            description: |
             A URL where the property may be booked online. Will be blank
             if the property is not set up for this feature
          contracts:
            type: array
            description: one or more contracts
            items:
              $ref: '#/definitions/Contract'
  PropertyCreation:
    allOf:
      - $ref: '#/definitions/Property'
      - type: object
        properties:
          initial_rooms:
            type: integer
            description: |
              a number of rooms to generate for the property. Must be 1+
  Property:
    type: object
    properties:
      designation:
        type: string
        description: |
          "house" or "pbsa"
      rooms_let_individually:
        type: boolean
        description: |
          When designation is set to "house" this indicates whether
          each room may be let on a separate contract
      quantity:
        type: integer
        description: |
          When designation is set to "pbsa" this describes the
          number of identical rental options available
      quantity_available:
        type: string
        description: as above, but currently available to rent
      room_type:
        type: string
        description: |
          When designation is set to "pbsa" each property record
          describes a type of room. This field gives that type a
          name e.g. "Deluxe En-suite"
      cluster_size:
        type: integer
        description: |
          When designation is set to "pbsa" this indicates number of rooms
          in a single cluster
      description:
        type: string
        description: a plain text or HTML description of the property. Please note HTML will be stripped but the HTML structure will be used to render line breaks where necessary
      bathrooms:
        type: integer
        description: number of bathrooms
      floor_space:
        type: number
        description: floor space of the property in square metres
      facilities:
        type: array
        description: zero or more facility names
        items:
          type: string
      address:
        $ref: '#/definitions/Address'
      coordinates:
        $ref: '#/definitions/Coordinates'
      media:
        $ref: '#/definitions/Media'
      energy_performance:
        $ref: '#/definitions/EnergyPerformance'
      accreditations:
        type: array
        description: zero or more accreditations
        items:
          $ref: '#/definitions/Accreditation'
      disabled:
        type: boolean
        description: |
          where true indicates that the property is not ready
          to be made public to students or shown in search results
      eligibility:
        $ref: '#/definitions/Eligibility'
  Address:
    type: object
    properties:
      property_name:
        type: string
        description: this is required if "property_number" is empty
      property_number:
        type: string
        description: this is required if "property_name" is empty
      road_name:
        type: string
      city:
        type: string
      postcode:
        type: string
      uprn:
        type: string
        description: if available, the unique property reference
  Coordinates:
    type: object
    properties:
      lat:
        type: number
      lng:
        type: number
  Contract:
    type: object
    properties:
      title:
        type: string
        description: the name given to this contract
      start_date:
        type: string
        description: the earliest date at which it is possible to move in to the property
      end_date:
        type: string
        description: the latest date at which it is possible to vacate the property
      min_contract_days:
        type: integer
        description: the minimum time a tenant may rent the property for in days
      utilities:
        $ref: '#/definitions/Utilities'
      room_prices:
        type: array
        description: A list of 1 or more rooms with prices
        items:
          $ref: '#/definitions/RoomPrice'
      restrictions:
        type: array
        description: zero or more restrictions
        items:
          $ref: '#/definitions/Restriction'
  RoomPrice:
    type: object
    properties:
      room_name:
        type: string
      price_per_person_per_week:
        type: number
        description: a monetary value
      deposit_per_person:
        type: string
        description: a monetary value
  Utilities:
    type: object
    description: |
      All keys are boolean where true indicates that
      this utility is included with the rent
    properties:
      water:
        type: boolean
      gas:
        type: boolean
      electricity:
        type: boolean
      broadband:
        type: boolean
      phone:
        type: boolean
      contents_insurance:
        type: boolean
  Restriction:
    type: object
    properties:
      start_date:
        type: string
        description: |
          the date that the contract this restriction
          belongs to may be purchased from
      end_date:
        type: string
        description: |
          the date that the contract this restriction
          belongs to may be purchased until
      terms:
        type: string
        description: |
          a text block describing this restriction
          (e.g. "For home students only")
      min_contract_days:
        type: integer
        description: |
          minimum days a student must be renting for
          the prices in this contract to be valid
  Media:
    type: object
    properties:
      photos:
        type: array
        description: |
          zero or more photos
          The order of photos will be maintained in the gallery;
          the 1st will be the profile photo
        items:
          $ref: '#/definitions/Photo'
      videos:
        type: array
        description: zero or more video embed URLs
        items:
          type: string
      floorplans:
        type: array
        description: zero or more URLs which link to floorplan files (image or pdf)
        items:
          type: string
  Photo:
    type: object
    properties:
      type:
        type: string
        description: Currently only supports "url"
      photo:
        type: string
        description: a URL linking to a photo file
      thumb:
        type: string
        description: a URL linking to a thumbnail photo file
      caption:
        type: string
  EnergyPerformance:
    type: object
    properties:
      epc_reference:
        type: string
        description: the reference on the property's energy performance certificate
      epc_certificate:
        type: string
        description: a URL to download the energy performance certificate
      eef_current:
        type: integer
      eef_potential:
        type: integer
      co2_current:
        type: integer
      co2_potential:
        type: integer
  Accreditation:
    type: object
    properties:
      type:
        type: string
        description: title of an accreditation on the property
      reference:
        type: string
        description: the reference connecting the property to its accrediting agency
      expiry:
        type: string
        description: |
          date when the accreditation will expire
          (empty is assumed to not expire)
  Eligibility:
    type: object
    description: |
      Each key is a boolean indicating if the specified item is
      eligible to rent the property. At least one of the first
      four fields must be set to true
    properties:
      undergraduate_student:
        type: boolean
      postgraduate_student:
        type: boolean
      professional:
        type: boolean
      trainee:
        type: boolean
      dss:
        type: boolean
        description: Allows a recipient of UK housing benefit
      pets_permitted:
        type: boolean
      smoking_permitted:
        type: boolean
      female_only:
        type: boolean
      male_only:
        type: boolean
  PropertySaved:
     properties:
      property_id:
        type: string
        description: unique reference to the property on StuRents
      url:
        type: string
        description: link to the proprerty profile on StuRents
  Error:
    type: object
    properties:
      error:
        type: string
